

:root{
  --primary-color: #4263eb;
  --secondary-color: #364fc7;
  --grey-0: #0a0c0d;
  --grey-1: #212529;
  --grey-2: #495057;
  --grey-3: #868e96;
  --grey-4: #dee2e6;
  --grey-5: #f8f9fa;
  --grey-opacity-1: rgba(33,37,41,0.5);
  --white: #ffffff;
  --like-color: #d7443e;

  --font-family: 'Inter', sans-serif;

  --radius: 4px;

  --weight-title-1: 700;
  --weight-title-2: 600;
  --size-title-1: 1.75rem; /*28px*/
  --size-title-2: 1.25rem; /*20px*/
  --height-title-1: 2.5rem; /*40px*/
  --height-title-2: 1.5rem; /*24px*/

  --weight-text-1: 400;
  --size-text-1: 1rem; /*16px*/
  --size-text-2: 0.875rem; /*14px*/
  --size-text-3: 0.75rem; /*12px*/
  --height-text-1: 1.75rem; /*28px*/
  --height-text-2: 1rem; /*16px*/
  --height-text-3: 1.2rem; /*19px*/

 
}