.header__container{
  font-family: var(--font-family);
  position: fixed;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  height: 76px;
  width: 100vw;
  padding: 30px 100px;
  background-color: var(--grey-0);
  z-index: 100;
}

.header__logo{
  font-size: var(--size-title-2);
  font-weight: var(--height-title-2);
  cursor: pointer;
}

.header__exit{
  font-size: var(--size-text-3);
  font-weight: var(--weight-text-1);
  cursor: pointer;
}

.header__exit:hover{
  font-size: var(--size-text-2);
  font-weight: var(--weight-title-1);
}

@media (max-width: 500px){
  .header__container{
    padding: 30px 40px;
  }
}